*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.quiz_detail_container{
    border: 1px solid;
    list-style-type: none;
    margin: 100px;
    padding: 50px;
}

.quiz_option{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    margin-top: 20px;
}

.quiz_list{
   color: black;
   border: 2px solid;
}
.disable{
    display: none;
}

.modal{ 
   
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fefefe;
    color: black;
    
   

}

@media (width <= 600px){
.quiz_detail_container{
/* width: 80%; */
}
}