*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.quiz_detail_container{
    /* width: 80%; */
    margin: 50px auto;
    border: 1px solid;
    list-style-type: none;
    word-wrap: break-word;
    
    
}

.qus-eye{
   position: relative;
}
.qus{
    margin-right: 5px;
}

.eye{
    position: absolute;
    right: 0;
    top: 5px;
    margin-right:5px ;
    cursor: pointer;
}

.quiz_option{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    margin: 20px;
    overflow:auto;
    
}

.quiz_list{
   color: black;
   border: 2px solid;
}
.disable{
    display: none;
}

.modal{ 
   
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fefefe;
    color: black;
    
   

}

@media (width >= 601px){
.quiz_detail_container{
width: 50%;
}
}